
body {
  margin: 1rem;
  padding: 0 0 100vh 0;
  color: teal;
  font-family: Helvetica;
  font-weight: 100;
}

hr {
  border: none;
  border-top: 2px solid teal;
}

h1, h2, h3 {
  font-weight: 100;
}

/* vg acronym for visual guide */
.vg {
  border: 2px solid firebrick;
}

.vg div {
  border: 2px solid orange;
}
