<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Four Columns</title>
    <style>
    section {
      display: flex;
      flex-wrap: wrap;
    }
    section > div {
      height: 300px;
      background-color: grey;
      flex-grow: 1;
      width: 20px;
      margin: 10px;
    }

    section > div:first-child {
      width: 100%;
    }
    </style>
  </head>
  <body>

    <main>

    <section>
      <div></div>
      <div></div>
      <div></div>



    </section>



    </main>

  </body>
</html>
