<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Four Columns</title>
    <style>
    section {
      display: flex;
      /*justify-content: space-between;*/
    }
    section > div {
      height: 90vh;
      background-color: grey;
      flex-grow: 1;
    }

    section > div:not(:last-child) {
      margin-right: 20px;
    }
    </style>
  </head>
  <body>

    <main>

    <section>
      <div></div>
      <div></div>
      <div></div>
      <div></div>



    </section>



    </main>

  </body>
</html>
