<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <style>
        main {
            height: 100vh;
        }
        .product {
            display: flex;
            flex-wrap: wrap;
        }
        .product > div {
            flex-grow: 1;
            height: 30vh;
            background-color: #949494;
            margin: 10px;
            border-radius: 10px
        }
        .product > div:first-child{
            width: 100%;
            height: 35vh;
        }
        h1 {
            text-align: center;
        }
    
    </style>
</head>
<body>
    <main>
        <h1>Landing Page</h1>
        <section class="product">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            


        </section>
    </main>
    
</body>
</html>